/* 
   I shouldn't ever be allowed to touch CSS in a professional setting
   works well enough and only looks terrible when the window size changes
*/

.App-header {
  margin-left: 20px;
  display:inline-block;
  padding-bottom: 20px;
}
 
.search{
  margin-left: 20px;
  position:relative;
  top:10px;
}

.App-header input{
  display:inline-block;
  font-size: 32px;
}

.App-header:before{
  display: inline-block;
  font-size: 32px;
  color:black;
  content: 'r/';
}

.posts post{
  /* padding-right: 30px; */
  width: 99%;
  background-color: #FFF;
  display: table;
}
.posts post a{
  text-decoration: none;
}

.posts post:nth-child(2n){
  background-color: #f3f3f3;
}
.posts post:hover{
  background-color: #cac3c3; 
}


.postScore{
  display:inline-block;
  position:relative;
  left:20px;
  bottom: 20px;
}

.postTitle{
  display:inline-block;
  position:relative;
  left:10px;
}

.favButton{
  position:relative;
  bottom: 20px;
  left:10px;
}

.flex-container{
  width: max-width/2;
  flex-direction: row;
  display:flex;
}

.left{
  background-color: rgb(135, 141, 139);
  flex: 1;
}
.leftTop{
  background-color: #f3f3f3;
  position: relative;
  top:-10px;
  width: 99%;
}
.right{
  background-color: rgb(135, 141, 139);
  flex: 1;
}
.rightTop{
  background-color: #f3f3f3;
  position:relative;
  top: 10px;
  width: 98%;
}

.favTitle{
  position: relative;
  left:10px;
  padding-top:4px;
}

.favPosts {
  width: 95%;
  padding-right: 30px;
  background-color: #FFF;
  display: table;
}
.favPosts a{
  text-decoration: none;
}

.favPosts:nth-child(2n){
  background-color: #f3f3f3;
}
.favPosts:hover{
  background-color: #cac3c3; 
}

.unfavButton{
  position:relative;
  bottom: 20px;
  left:10px;
}

.postContainer{
  position:absolute;
  top:15%;
  width: 50%;
}